#myModal {
    background-color: rgba(28, 60, 80, .8);
}

.modal-wrapper {
    width: 50rem;
    max-width: 90%;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-weight: bold;
}